<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>

	<div class="container" th:fragment="comidas">
		
		<div class="row d-flex flex-row">
			
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
		  		<li class="nav-item" role="presentation" th:each="categ, categStat: ${categcomida}">
		    		<a class="nav-link" th:classappend="${categStat.first} ? 'active'" data-toggle="pill" th:href="@{'#'+ ${categ.tipo}}" role="tab" th:text="${categ.tipo}"></a>
		  		</li>
			</ul>

		</div>
		
		<div class="tab-content" id="pills-tabContent">
 			<div class="tab-pane fade" th:classappend="${categStat.first} ? 'show active'" th:id="${categ.tipo}" th:each="categ, categStat: ${categcomida}">
 				<div th:each="comida : ${categ.comidas}">
			 		<div class="d-flex" th:each="tapa : ${comida.tapas}">
		 				
		 				<div class="col-sm-12">
						    <div class="card h-100">
				    			<div class="card-header">
				    				<p id="isvoted"></p>
				    				<div class="row">
				    					<h5 class="w-75 mx-4" th:text="${tapa.nombre}"></h5>
				    					<div class="mr-auto">
				    						<p th:if="${tapa.comida.categoriacomida.tipo == 'Carnica'}" class="card-text"><i class="fas fa-bacon fa-sm"></i></p>
						        			<p th:if="${tapa.comida.categoriacomida.tipo == 'Vegetariana'}" class="card-text mr-auto"><i class="fas fa-egg fa-sm"></i></p>
						        			<p th:if="${tapa.comida.categoriacomida.tipo == 'Vegana'}" class="card-text mr-auto"><i class="fas fa-seedling fa-sm"></i></p>
				    					</div>
				    					<div class="mr-auto">
				    						<p th:if="${tapa.bebida.categoriabebida.tipo == 'Vino'}" class="card-text"><i class="fas fa-wine-glass-alt fa-sm"></i></p>
						        			<p th:if="${tapa.bebida.categoriabebida.tipo == 'Refresco'}" class="card-text mr-auto"><i class="fas fa-tint fa-sm"></i></p>
						        			<p th:if="${tapa.bebida.categoriabebida.tipo == 'Cerveza'}" class="card-text mr-auto"><i class="fas fa-beer fa-sm"></i></p>
						        			<p th:if="${tapa.bebida.categoriabebida.tipo == 'All'}" class="card-text mr-auto"><i class="fas fa-glass-cheers fa-sm"></i></p>
				    					</div>
				    				</div>
				    			</div>
				    			<p sec:authorize="isAuthenticated()" th:text="${usuario}"></p>
				    			<span sec:authorize="isAuthenticated()" th:text ="${#authentication.getPrincipal().getUsername()}"></span>
					      		<div class="card-body">
						      		<a th:text="'Ver tapa'" th:href="@{/tapas/ver-tapa/} + ${tapa.id}" style="float:right;"></a>
						      		<div class="row">
						      			<p class="text-danger" th:text="${tapa.id}"></p>
						        		<p class="card-text mr-auto" th:text="'Contenido : ' + ${tapa.comida.nombre}"><i class="fas fa-bacon"></i></p>
						        		<p class="card-text mr-auto" th:text="'Bebidas incluidas: ' + ${tapa.bebida.nombre}"></p>
						        		<p class="card-text mr-auto" th:text="'Votos : ' + ${tapa.vote.size()}"></p>
						        		<p class="text-danger" th:each="vote : ${tapa.vote}" th:text="${vote.id}"></p>
						        		<form name="votesys" class="mr-auto" th:action="@{/votecreate}" sec:authorize="isAuthenticated()" th:object="${vote}" method="post">
					        				<input name="tapa" type="hidden" th:object="${tapa}" th:value="${tapa.id}" />
						        			<input name="user" type="hidden" th:value="${usuario}" />
						        			<input class="votolove" name="voto" type="submit" value="">
										</form>
										<a th:text="'Quitar voto'" th:href="@{/votedelete/} + ${tapa.id}" style="float:right;"></a>
						        	</div>
						      	</div>
						    </div>
					  	</div>
	 				</div>
			 	</div>
        	</div>
		</div>	
	</div>
	
	
	
</body>
</html>