<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"> </header>

	<div class="container py-4">
	
		<div class="card bg-danger text-warning border-warning text-center">
			<div class="card-header">Por favor Sign in</div>
			
			
			<div class="card-body">
				<h5 class="card-title">Lo sentimos <span th:text="${#httpServletRequest.remoteUser}"></span>, No tienes permisos para acceder a este recurso</h5>
				<a th:href="@{/home}" class="btn btn-outline-light" role="button">ir al inicio</a>
			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>